include ../pug/_libs

doctype html
html(lang='en')
    +_head({title: "Catalog"})
    body
        .container
            h1 Hello to Catalog
            h2.container__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ipsam!
            +image('angular.png')
            +image('webpack.png')
            .block
            .user


